bazel-*
.vscode
.DS_Store
/parser/cmake_install.cmake
/parser/CMakeCache.txt
/parser/CMakeFiles/
/parser/libSqlParser.a
/parser/Makefile
/parser/parser.output
/parser/parser.tab.cpp
/parser/parser.tab.hpp
/parser/parser.yy.cpp